* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Outfit', sans-serif;
}

body {

  height: 100vh;
}




.container-cards {
  margin-left: 310px;
  margin-right: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  border-color: 10px solid black;
}


.card {
  z-index: 1;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#logopf {
  height: 220px;

}
#logo {
  height: 100px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}






.inline {
  display: inline;

}

h1 {
  text-align: center;
}

section div img {
  height: 180px;
}

#imgsimbolo {
  height: 200px;
  width: 200px;
}

.container-usuarios {
  margin-left: 310px;
  margin-right: 60px;
}

.texto_agendamentos {
  margin-left: 250px;
}

.texto_horarios {
  margin-left: 250px;
}


@media screen and (max-width: 767px) {
  .container-cards {
    width: 100%;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    border-color: 10px solid black;
  }


  .container-usuarios {

    margin-left: 60px;
    margin-right: 0px;
  }


  .card {
    width: 80%;
  }

  .texto_agendamentos {
    margin-left: 85px;
    
  }


  .texto_horarios {
    margin-left: 90px;
  }

}