* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Outfit', 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
}

.form-usuario {
    margin-top: 80px;
    margin-left: 33.5%;
    position: absolute;
    width: 470px;
    height: 500px;
    border-radius: 20px;
}

form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
}

form .container {
    width: 340px;
    height: 230px;
}

.logoPrefeitura {
    width: 160px;

}

@media screen and (max-width: 767px){
    .form-usuario{
    
    margin-top: 80px;
    margin-right: 120px;
    margin-left: 60px;
    
    position: absolute;
    border-radius: 20px;
    }
}